In [1]:
import mysql.connector

In [2]:
import csv

In [3]:
import datetime

In [9]:
# Connect to MySQL server
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Madhu@2311'  # Replace with your password
)

print("MySQL connection successful:", mydb.is_connected())

MySQL connection successful: True

In [10]:
cursor = mydb.cursor()

# Create database
cursor.execute("CREATE DATABASE IF NOT EXISTS employee")

# Select the new database
cursor.execute("USE employee")

# Create the salary table
cursor.execute("""
    CREATE TABLE IF NOT EXISTS salary (
        empid INT,
        firstname VARCHAR(100),
        lastname VARCHAR(100),
        email VARCHAR(50),
        phone VARCHAR(15),
        hire_date DATE,
        job_id VARCHAR(15),
        salary INT
    )
""")

print("Database and table created successfully.")

Database and table created successfully.